body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    margin: 0;
}
h2{
    font-size: 40px;
}
section{
    margin-top: 4rem;
    margin-left:3rem ;
    margin-right: 3rem;
   
}
.margin_all{
    margin-left: 4rem;
    margin-right: 4rem;
}
.span-color{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: rgb(221, 159, 43);
    
}
.display-flex{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.width-for-mission{
    width: 32%;
}
.half-width img{
    width: 70%;
    margin-left: 70px;
    height: auto;
}
.first-div{
    margin-top: 4rem;
}
#stay-focus-heading{
    border-left:5px solid ;
    border-image:linear-gradient(rgb(255, 166, 0),rgb(255, 102, 0)); 
    border-image-slice: 1;

}
#stay-focus-heading h1{
    padding-left: 10px;
}
.stay-focus p{
    text-align: justify;  
    margin-bottom: 1.5rem;

}
.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(207, 173, 108),rgb(218, 136, 59));
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 9px;
    margin-bottom: 2rem;

}
.stay-focus{
    background-image: url(./images/shapes/stay-focus-banner.png);
    background-repeat: no-repeat;
    background-position-y:right;  

}

.my-mission-item img{
    width: 50%;

}

.mission-color{
    background-color: rgb(248, 226, 229);
}
.vission-color{
    background-color: rgb(233, 253, 255);
}
.goals-color{
    background-color: rgb(230, 225, 225);
}

.my-mission-item{
    text-align: justify;
    margin-left: 2%;
    margin-right: 1%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 4px 8px 33px -10px rgba(124, 117, 117, 0.73);

}
.my-mission h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: rgb(56, 56, 97);

}
.my-mission h2 span{
    color: rgb(236, 151, 39);

}
.my-mission-item h3{
    margin-top: 20px;
   
}
.my-mission-item p{
    margin-bottom: 20px;
   
}

.develop img{
    width: 60%;
    height: 100%;
    margin-left: 5%;
    margin-right: 0;
}
.develop-first-div-width{
    width: 40%;

 }
.develop-second-div-width{
    width: 60%;
    margin-top: 10px;
    

 }
.develop-second-div-width h2{
    font-weight: bolder;
    margin-bottom: 10px;

 }
 .develop-second-div-width p{
  
    padding-right: 0rem;
    text-align: justify;
    margin-bottom: 26px;

 }
 .develop{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    
 }

 .community .community-1st-width{
     width: 60%;
     padding-right: 10px;
 }
 .community-2nd-width{
     width: 40%;
     
 }
 .community-1st-width h2{
    font-weight: bolder;
    margin-bottom: 10px;

 }
 .community-1st-width p{

    text-align: justify;
    margin-bottom: 26px;

 }
 .community img{
    width: 70%;
    height: 100%;
    margin-left: 12rem;

}
.community{
    background-image: url(./images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

    
 }
 .contact{
    background-image: url(./images/shapes/exp-bg.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: left 80px;

 }
 .contact h2{
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: rgb(56, 56, 97);
 }
 .contact h2 span{
    color: rgb(223, 156, 64);

}
 .contact p{
    margin-bottom: 60px;
    text-align: center;
    color:black;

}
 .contact .first-contact-div{
     margin-right: 2rem;
     width: 60%;
 }
 .contact .contact-item1{

    text-align: justify;
    height: 70%;
    margin-right: 4%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 4px 8px 33px -10px rgba(124, 117, 117, 0.73);
 }
 .contact .contact-item2{
    text-align: justify;
    height: 70%;
    margin-right: 4%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 4px 8px 33px -10px rgba(124, 117, 117, 0.73);
 }
 .contact .contact-item3{
    text-align: justify;
    height: 70%;
    margin-right: 1%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    box-shadow: 4px 8px 33px -10px rgba(124, 117, 117, 0.73);
 }
 .contact .contact-item1 img{
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;


 }
 .contact .contact-item2 img{
    width: 32%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;


 }
 .contact .contact-item3 img{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 23px;


 }
 #git{
    text-decoration: none;
    color: rgb(10, 10, 10);
    border:2px solid rgb(24, 24, 53);
    background-image: linear-gradient(rgb(184, 184, 231),rgb(78, 78, 122));
    border-radius: 8px;

}
.second-contact-div {
    width: 40%;
    padding: 1.5rem;
    background-color: rgb(243, 242, 242);
}
.second-contact-div h3{
    font-size: 25px;
    color: rgb(10, 10, 10);
}

.second-contact-div input,textarea{
    border:2px solid rgb(96, 96, 138);
    width: 60%;
    border-radius: 6px;
    padding: 6px 15px;
    /* height: 100%; */

}

.second-contact-div #submit{

    color: white;
    background-image: linear-gradient(rgb(207, 173, 108),rgb(218, 136, 59));
    padding: 10px 50px;
    font-weight: 700;
    margin-bottom: 2rem;


}
footer{
    background-color: black;
    text-align: center;
}

footer h2{
    padding-top: 15px;
    margin-bottom: 0;
    color: white;
    font-weight: 900;
    font-size: 52px;
    font-family: 'Moon Dance', cursive;
}
footer h2 span{
    color: rgb(151, 22, 22);
}
footer p{
    padding-top: 0;
    color: white;

}
footer h4{
    color: white;
    padding-bottom: 30px;
    font-family: 'Moon Dance', cursive;

}
footer h4 span{
    color: rgb(151, 22, 22);
    

}